/*brand color #42bd77*/
html, body{
    font-family: 'El Messiri', sans-serif;
    font-size: 16px;
    color: #ffffff;
}
*{
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
a{
    text-decoration: none;
    color: #ffffff;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.header-wrapper{
    background-color: #42bd77;
}
.footer-wrapper{
    background: url("../images/img-noise-100x100.png") repeat;
}
.scnd-footer{
    background-color: #287347;
}
main>section{
    background: url("../images/img-noise-100x100.png") repeat;
}

/*-----------HEADER-----------*/

.logo{
    display: block;
    color: #ffffff;
    font-family: 'Merienda', cursive;
    font-size: 3rem;
    padding: 7px 0;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
nav li{
    display: inline-block;
    padding: 10px 10px;
}
nav a{
    font-size: 1.5rem;
    padding: 0 10px;
}
nav a:hover{
    color: #287347;
    background: #ffffff;
}

/*-----------MAIN-----------*/

main h2{
    margin: 0;
}
#products, #products a{
    color: #afafaf;
}
#products{
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 25px;
}
.prdctCard{
    width: 25%;
    border: 1px solid #afafaf;
    border-bottom: 3px solid #42bd77;
    margin-top: 100px;
    padding: 25px;
}
.prdctCard button{
    background-color: #42bd77;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    outline: none;
    padding-top: 5px;
}
.btnContainer{
    margin-bottom: 25px;
}
.btnContainer button{
    background-color: #42bd77;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    outline: none;
    padding-top: 5px;
    margin-right: 3px;
}